<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Rent Agile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>


<p> Aplicación web para gestionar una lista de usuarios</p>

    <h1>Lista de Usuarios</h1>
    <ul id="user-list"></ul>
    <form id="add-user-form">
        <input type="text" id="nombre" placeholder="Nombre" required>
        <input type="text" id="telefono" placeholder="Teléfono" required>
        <label for="enroll">Enroll:</label>
        <input type="checkbox" id="enroll">
        <button type="submit">Agregar Usuario</button>
    </form>
    <script src="script.js"></script>
</body>
</html>